In [2]:
import pandas as pd
import numpy as np

In [3]:
trainFN=pd.read_csv('train_FNC.csv')
trainSB=pd.read_csv('train_SBM.csv')

y=pd.read_csv('train_labels.csv')

testFN=pd.read_csv('test_FNC.csv')
testSB=pd.read_csv('test_SBM.csv')

ty=pd.read_csv("submission_example.csv")

In [4]:
train= pd.merge(trainFN,trainSB, on='Id')
test= pd.merge(testFN,testSB, on="Id")

a=y.drop('Id',axis=1)

traina=train.drop('Id', axis=1)
testa=test.drop('Id', axis=1)
train.shape
test.shape
train.head()
print train.shape
print y.shape
print a.shape
print traina.shape

(86, 411)
(86, 2)
(86, 1)
(86, 410)

In [ ]:
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=1000,max_features=50)

a=numpy.ravel(a)


clf.fit(traina, a)

output = clf.predict(testa)

In [64]:
scores = cross_val_score(clf, traina, a)
scores.mean() 

#output = clf.predict(test)

0.69761904761904769

In [1]:
from sklearn import svm
import numpy

clf = svm.SVC()
a=numpy.ravel(a)
clf.fit(traina, a)

output = clf.predict(testa)

srce=clf.score(traina, a)
srce.mean()

NameError: name 'a' is not defined

In [38]:

ta=ty.drop('Id',axis=1)
ta=numpy.ravel(ta)

#for i in range(len(ta)):
#    print ta[i]

In [51]:
corr=0
for i in range(len(output)):
    if ta[i]==output[i]:
        corr+=1

        float t= corr/120000     

        print t

SyntaxError: invalid syntax (<ipython-input-51-a05c04ddf977>, line 6)

In [38]:

ta

        Probability
0                 0
1                 0
2                 0
3                 0
4                 0
5                 0
6                 0
7                 0
8                 0
9                 0
10                0
11                0
12                0
13                0
14                0
15                0
16                0
17                0
18                0
19                0
20                0
21                0
22                0
23                0
24                0
25                0
26                0
27                0
28                0
29                0
...             ...
119718            0
119719            0
119720            0
119721            0
119722            0
119723            0
119724            0
119725            0
119726            0
119727            0
119728            0
119729            0
119730            0
119731            0
119732            0
119733            0
119734            0
119735            0
119736            0
119737            0
119738            0
119739            0
119740            0
119741            0
119742            0
119743            0
119744            0
119745            0
119746            0
119747            0

[119748 rows x 1 columns]